* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body > header {
  background-color: #2f3648;
  padding: 16px 0;
  color: #f4f6fa;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header li{
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 16px;
}

header li a {
  color: #f4f6fa;
  text-decoration: none;
}

header li a:hover {
  text-decoration: underline;
}

.container {
  width: 1366px;
  margin: 0 auto;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articles article img {
  /* height: 180px; */
  width: 100%;
}

.articles article {
  width: 33%;
}

section {
  padding: 16px;
}

section h2,
.articles article {
  margin-bottom: 16px;
}

.articles article h3 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.articles article a {
  background-color: blue;
  color: #fff;
  padding: 8px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  margin-top: 8px;
}

.articles article a:hover {
  text-decoration: underline;
}

.articles article p,
.articles article a {
  font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
  font-size: 24px;
}

section h2 {
  font-size: 32px;
}

#sports {
  background-color: rgba(0, 255, 0, 0.1);
}

#sports a {
  background-color: rgba(0, 255, 0, 0.8);
}

#enconomy {
  background-color: rgba(248, 161, 0, 0.1);
}

#economy a {
  background-color: rgba(248, 161, 0, 0.8);
}

#world {
  background-color: rgba(244, 6, 228, 0.1);
}

#world a{
  background-color: rgba(86, 4, 81, 0.8);
}

#healthy {
  background-color: rgba(6, 34, 244, 0.1);
}

#healthy a{
  background-color: rgba(6, 34, 244, 0.8);
}
